.boto {
  background: none;       /* sin fondo */
  border: none;           /* sin borde */
  padding: 0;             /* sin espacio alrededor */
  cursor: pointer;        /* cursor de mano */
  
}

.boto img {
  display: block;         /* elimina espacios debajo de la imagen */
}

.boto {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 45px; 
}

/* 🔥 Modo calificación activado */
.boto-activo {
  box-shadow: 0 0 5px 6px rgba(255, 215, 0, 0.9); /* brillo dorado */
  border-radius: 45px;
  transform: scale(1.05);
  animation: pulsoBrillo 1.5s infinite ease-in-out;
}

/* 🔥 Animación de pulso */
/* @keyframes pulsoBrillo {
  0% {
    box-shadow: 0 0 12px 4px rgba(255, 215, 0, 0.6);
  }
  50% {
    box-shadow: 0 0 22px 10px rgba(255, 215, 0, 1);
  }
  100% {
    box-shadow: 0 0 12px 4px rgba(255, 215, 0, 0.6);
  }
} */


.boton0 {
  display: inline-block;
  padding-top: 35px;
  width: 280px;
  height: 111px;
  background-image: url("b1.png");
  background-size: cover;
  background-color: transparent;
  background-position: center;
  border: none;
  cursor: pointer;

  font-family: "Arial Black", "Impact", sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: black;

  /* Borde blanco grueso */
  -webkit-text-stroke: 1px white;

  /* Sombra blanca envolvente + sombra negra de profundidad */
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white, 2px 2px 4px rgba(0, 0, 0, 0.5); /* profundidad */
}

.boton0:active {
  transform: scale(0.95);
}

.boton1 {
  width: 260px;
  height: 100px;
  background-image: url("boton1.png");
  background-size: cover;
  background-color: transparent;
  background-position: center;
  border: none;
  cursor: pointer;

  font-family: "Arial Black", "Impact", sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: black;

  /* Borde blanco grueso */
  -webkit-text-stroke: 1px white;

  /* Sombra blanca envolvente + sombra negra de profundidad */
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white, 2px 2px 4px rgba(0, 0, 0, 0.5); /* profundidad */
}

.boton1:active {
  transform: scale(0.95);
}

.boton2 {
  width: 260px;
  height: 90px;
  background-image: url("boton2.png"); /* Cambia a la ruta de tu imagen */
  background-size: cover;
  background-color: transparent;
  font-family: "Arial Black", "Impact", sans-serif;

  background-position: center;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 900;
  color: black;
  /*   /* text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5); */
  /* Sombra blanca envolvente + sombra negra de profundidad */
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white, 2px 2px 4px rgba(0, 0, 0, 0.5); /* profundidad */

  /* Borde blanco grueso */
  -webkit-text-stroke: 1.2px white;
}

.boton2:active {
  transform: scale(0.95);
}

.boton3 {
  width: 290px;
  height: 100px;
  background-image: url("boton3.png"); /* Cambia a la ruta de tu imagen */
  background-size: cover;
  background-color: transparent;
  font-family: "Arial Black", "Impact", sans-serif;

  background-position: center;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 900;
  color: black;
  /* text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5); */

  /* Sombra blanca envolvente + sombra negra de profundidad */
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white, 2px 2px 4px rgba(0, 0, 0, 0.5); /* profundidad */

  /* Borde blanco grueso */
  -webkit-text-stroke: 1.2px white;
}

.boton3:active {
  transform: scale(0.95);
}

.boton4 {
  width: 310px;
  height: 95px;
  background-image: url("boton4.png"); /* Cambia a la ruta de tu imagen */
  background-size: cover;
  background-color: transparent;
  font-family: "Arial Black", "Impact", sans-serif;

  background-position: center;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 900;
  color: black;
  /* text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5); */

  /* Sombra blanca envolvente + sombra negra de profundidad */
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white, 2px 2px 4px rgba(0, 0, 0, 0.5); /* profundidad */

  /* Borde blanco grueso */
  -webkit-text-stroke: 1.2px white;
}

.boton4:active {
  transform: scale(0.95);
}

.boton5 {
  width: 280px;
  height: 100px;
  background-image: url("boton5.png"); /* Cambia a la ruta de tu imagen */
  background-size: cover;
  background-color: transparent;
  font-family: "Arial Black", "Impact", sans-serif;

  background-position: center;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 900;
  color: black;
  /* text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5); */

  /* Sombra blanca envolvente + sombra negra de profundidad */
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white, 2px 2px 4px rgba(0, 0, 0, 0.5); /* profundidad */

  /* Borde blanco grueso */
  -webkit-text-stroke: 1.2px white;
}

.boton5:active {
  transform: scale(0.95);
}

.boton6 {
  width: 260px;
  height: 100px;
  background-image: url("boton6.png"); /* Cambia a la ruta de tu imagen */
  background-size: cover;
  background-color: transparent;
  font-family: "Arial Black", "Impact", sans-serif;

  background-position: center;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 900;
  color: black;
  /* text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5); */

  /* Sombra blanca envolvente + sombra negra de profundidad */
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white, 2px 2px 4px rgba(0, 0, 0, 0.5); /* profundidad */

  /* Borde blanco grueso */
  -webkit-text-stroke: 1.2px white;
}

.boton6:active {
  transform: scale(0.95);
}

.boton7 {
  width: 280px;
  height: 90px;
  background-image: url("boton7.png"); /* Cambia a la ruta de tu imagen */
  background-size: cover;
  background-color: transparent;
  font-family: "Arial Black", "Impact", sans-serif;

  background-position: center;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 900;
  color: black;
  /* text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5); */

  /* Sombra blanca envolvente + sombra negra de profundidad */
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white, 2px 2px 4px rgba(0, 0, 0, 0.5); /* profundidad */

  /* Borde blanco grueso */
  -webkit-text-stroke: 1.2px white;
}

.boton7:active {
  transform: scale(0.95);
}

.boton8 {
  width: 260px;
  height: 100px;
  background-image: url("boton8.png"); /* Cambia a la ruta de tu imagen */
  background-size: cover;
  background-color: transparent;
  font-family: "Arial Black", "Impact", sans-serif;

  background-position: center;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 900;
  color: black;
  /* text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5); */

  /* Sombra blanca envolvente + sombra negra de profundidad */
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white, 2px 2px 4px rgba(0, 0, 0, 0.5); /* profundidad */

  /* Borde blanco grueso */
  -webkit-text-stroke: 1.2px white;
}

.boton8:active {
  transform: scale(0.95);
}

.boton9 {
  width: 260px;
  height: 100px;
  background-image: url("boton9.png"); /* Cambia a la ruta de tu imagen */
  background-size: cover;
  background-color: transparent;
  font-family: "Arial Black", "Impact", sans-serif;

  background-position: center;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 900;
  color: black;
  /* text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5); */

  /* Sombra blanca envolvente + sombra negra de profundidad */
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white, 2px 2px 4px rgba(0, 0, 0, 0.5); /* profundidad */

  /* Borde blanco grueso */
  -webkit-text-stroke: 1.2px white;
}

.boton9:active {
  transform: scale(0.95);
}

.boton10 {
  width: 260px;
  height: 100px;
  background-image: url("boton10.png"); /* Cambia a la ruta de tu imagen */
  background-size: cover;
  background-color: transparent;
  font-family: "Arial Black", "Impact", sans-serif;

  background-position: center;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 900;
  color: black;
  /* text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5); */

  /* Sombra blanca envolvente + sombra negra de profundidad */
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white, 2px 2px 4px rgba(0, 0, 0, 0.5); /* profundidad */

  /* Borde blanco grueso */
  -webkit-text-stroke: 1.2px white;
}

.boton10:active {
  transform: scale(0.95);
}
