:root {
  color-scheme: light dark;
}
/* @import "tailwindcss"; */

body {
  overflow-x: hidden;
}


.bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}
